# Ignore compiled PDFs
documents/**/*.pdf

# Ignore environment settings
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VSCode settings
.vscode/

# Ignore logs or outputs
*.log

# Ignore virtual environments
venv/
.envrc

# Ignore system files
.DS_Store
Thumbs.db
